/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    background-color: #2D25A0;
}
nav{
    width: 1161px;
    height: 44px;
    padding-left: 156px;
    padding-right: 123px;
    padding-top: 42px;
}
/* Navigation bar */
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding-right: 36px;
    text-decoration: none;
  }
  .fa-sign-in-alt{
    padding-right: 8px;
  }
  .login-button:hover {
    color: #E02C6D;
}

/* Banner Style */
.banner{
    display: flex;
    padding-top: 67px;
    padding-left: 156px;
    padding-right: 141px;
    padding-bottom: 86px;
}
.football-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: white;
}
.live-button{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    background-image: linear-gradient(to right,#f5397e, #E02C6D);
}
.live-button:hover{
    background-image: linear-gradient(to right,#51a6f5, #0B83EE);
}
.fa-arrow-right{
    padding-left: 8px;
}
.football-img img{
    padding-left: 102px;
    width: 556px;
    height: 438px;
    transition: 1s ease;
}
.football-img img:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1s ease;
}

/* main section */
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
    padding-top: 70px;
    padding-bottom: 165px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    padding: 15px;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.player img:hover {
    -webkit-filter: brightness(100%);
    }
.layer-discription{
    width: 300px;
    height: 154px;
}
.player h3{
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    padding: 15px;
    padding-top: 1px;
    padding-bottom: 10px;
}
.player p{
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}