/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    background-color: #2D25A0;
}
nav{
    width: 1161px;
    height: 44px;
    padding-left: 156px;
    padding-right: 123px;
    padding-top: 42px;
}
/* Navigation bar */
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding-right: 36px;
    text-decoration: none;
  }
  .fa-sign-in-alt{
    padding-right: 8px;
  }
  .login-button:hover {
    color: #E02C6D;
}

/* Banner Style */
.banner{
    display: flex;
    padding-top: 67px;
    padding-left: 156px;
    padding-right: 141px;
    padding-bottom: 86px;
}
.football-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: white;
}
.live-button{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    background-image: linear-gradient(to right,#f5397e, #E02C6D);
}
.live-button:hover{
    background-image: linear-gradient(to right,#51a6f5, #0B83EE);
}
.fa-arrow-right{
    padding-left: 8px;
}
.football-img img{
    padding-left: 102px;
    width: 556px;
    height: 438px;
    transition: 1s ease;
}
.football-img img:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1s ease;
}

/* main section */
.section-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
    padding-top: 70px;
    padding-bottom: 165px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    padding: 15px;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.player img:hover {
    -webkit-filter: brightness(100%);
}
.layer-discription{
    width: 300px;
    height: 154px;
}
.player h3{
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    padding: 15px;
    padding-top: 1px;
    padding-bottom: 10px;
    color: #18191F;
}
.player p{
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #6C6C6C;
}

/* Highlight section  */
.section-2{
    display: flex;
    padding-left: 182px;
    padding-right: 156px;
    padding-bottom: 158px;
}
.highlight-description {
    width: 469px;
    height: 309px;
    padding-top: 66px;
    padding-right: 66px;
    padding-bottom: 66px;
}
.highlight-description > h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
    color: #0A0826;
}
.highlight-description > p{
    margin: 0;
    padding-top: 8px;
    padding-bottom: 40px;
    color: #6C6C6C;
}
.highlight-img{
    width: 567px;
    height: 427px;
    transition: 1s ease;
}
.highlight-img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

/* Youtube section */
.youtube-video{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.video-size{
    width: 540px;
    height: 315px;
}
.video h3{
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    padding-top: 15px;
    color: #18191F;
}
.video p{
    margin: 0;
    padding-top: 15px;
    padding-right: 15px;
    color: #6C6C6C;
    text-align: justify;
}
.youtube-description{
    text-align: center;
   width: 50%;
   margin: 0 auto;
}
.youtube-description > h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
    color: #0A0826;
}
.youtube-description > p{
    margin: 0;
    padding-top: 8px;
    padding-bottom: 24px;
}

/* Follower count section */
.section-4{
    margin: 0 100px;
    padding: 20px 0;
    box-shadow: 1px 5px 20px rgba(35, 40, 65, 0.13);
    display: flex;
    border-radius: 10px;
    margin-bottom: 100px;
}
.count{
    width: 33.33%;
    text-align: center;
}
.count > h2{
    font-size: 48px;
    line-height: 60px;
    margin: 0;
    color: #0A0826;
}
.count > p{
    margin: 0;
    padding-top: 15px;
    color: #6C6C6C;
}

/* Footer section */
.footer-box{
    width: 483px;
    height: 213px;
    padding-left: 475px;
    padding-right: 481px;
    padding-bottom: 10px;
}
.logo > img{
    width: 483px;
    height: 110px;
}
.icons{
    width: 170px;
    height: 32px;
    padding-left: 156px;
    padding-right: 156px;
}
.icon{
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    color: #6C6C6C;
    
}
.icon > i{
    font-size: 20px;
    padding: 8px;
}
.footer-box > p{
    font-size: 18px;
    padding-left: 123px;
    padding-right: 123px;
}

/*--------------
 Media Queries 
 --------------*/
/* Mobile Devices */
@media only screen and (max-width:668px) {
    /* Header section  */
    header{
        width: 100%
    }
    nav{
        display: none;
    }
    .banner{
        width: 278px;
        height: 550px;
        padding-left: 16px;
        display: block;
    }
    .football-heading{
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
    }
    .football-desc{
        padding-bottom: 50px;
    }
    .football-img img{
        width: 329px;
        height: 259px;
        padding-top: 50px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        transition: 1s ease;
    }
    .football-img img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
    }

    /* main section */
    .section-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 47px;
        padding-bottom: 60px;
    }
    .player{
        width: 330px;
        height: 474px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    .player img{
        width: 300px;
        height: 256px;
        padding: 15px;
        -webkit-filter: brightness(50%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    .player img:hover {
        -webkit-filter: brightness(100%);
    }

    /* Highlight section */
    .section-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 15px;
        padding-bottom: 10px;
    }
    .highlight-description {
        width: 329px;
        height: 299px;
        padding-bottom: 29px;
    }
    .highlight-description > h2{
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-img{
        display: none;
    }

    /* Youtube section */
    .section-3{
        display: none;
    }
    .youtube-video{
        display: none;
    } 

    /* Follower count section */
    .section-4{
        display: none;
    }

    /* Footer section */
    .footer-box{
        width: 125px;
        height: 29px;  
        padding-top: 43px;  
        padding-left: 18px;
        padding-right: 62px;
        padding-bottom: 187px;
    }
    .logo > img{
        width: 271px;
        height: 63px;
    }
    .icons{
        width: 170px;
        height: 32px;
        padding-left: 95px;
        padding-right: 95px;
    }
    .footer-box > p{
        width: 236px;
        height: 31px;
        font-size: 18px;
        padding-left: 62px;
        padding-right: 62px;
    }
}

/* tablet devices */
@media only screen and (min-width: 698px) and (max-width:992px) {
    /* Header section  */
    header{
        width: 100%;
    }
    nav{
        display: none;
    }
    .banner{
        width: 556px;
        height: 276px;
        padding-left: 80px;
        display: flex;
    }
    .football-heading{
        padding-top: 50px;
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
    }
    .football-desc{
        padding-bottom: 50px;
    }
    .football-img img{
        width: 300px;
        height: 240px;
        padding-top: 50px;
        padding-bottom: 0;
        padding-left: 45px;
        padding-right: 0;
        transition: 1s ease;
    }
    .football-img img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
    }

    /* main section */
    .section-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 24px;
        padding-left: 35px;
        padding-right: 15px;
        padding-top: 47px;
        padding-bottom: 60px;
    }
    .player{
        width: 330px;
        height: 474px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    .player img{
        width: 300px;
        height: 256px;
        padding: 15px;
        -webkit-filter: brightness(50%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    .player img:hover {
        -webkit-filter: brightness(100%);
    }

    /* Highlight section */
    .section-2{
        display: fex;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 15px;
        padding-right: 16px;
        padding-bottom: 10px;
    }
    .highlight-description {
        width: 329px;
        height: 299px;
        padding-left: 30px;
        padding-bottom: 29px;
    }
    .highlight-description > h2{
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-img{
        display: none;
    }

    /* Youtube section */
    .section-3{
        display: none;
    }
    .youtube-video{
        display: none;
    } 

    /* Follower count section */
    .section-4{
        display: none;
    }

    /* Footer section */
    .footer-box{
        width: 125px;
        height: 29px;  
        padding-top: 50px;  
        padding-left: 240px;
        padding-right: 80px;
        padding-bottom: 100px;
    }
    .logo > img{
        width: 271px;
        height: 63px;
    }
    .icons{
        width: 170px;
        height: 32px;
        padding-left: 95px;
        padding-right: 95px;
    }
    .footer-box > p{
        width: 236px;
        height: 31px;
        font-size: 18px;
        padding-left: 62px;
        padding-right: 62px;
    }
}